apiVersion: apps/v1
kind: Deployment
metadata:
  name: api-gateway
  namespace: pulsecart
spec:
  replicas: 2
  selector:
    matchLabels:
      app: api-gateway
  template:
    metadata:
      labels:
        app: api-gateway
    spec:
      containers:
        - name: api-gateway
          image: 971146591534.dkr.ecr.us-east-1.amazonaws.com/triad-app-api-gateway:api-gateway-develop
          imagePullPolicy: Always
          ports:
            - containerPort: 8080
              name: http
          env:
            - name: PORT
              value: "8080"
            - name: ORDERS_URL
              valueFrom:
                configMapKeyRef:
                  name: pulsecart-config
                  key: ORDERS_URL
          readinessProbe:
            httpGet:
              path: /readyz
              port: http
          livenessProbe:
            httpGet:
              path: /healthz
              port: http
