apiVersion: apps/v1
kind: Deployment
metadata:
  name: notifications
  namespace: pulsecart
spec:
  replicas: 2
  selector:
    matchLabels:
      app: notifications
  template:
    metadata:
      labels:
        app: notifications
    spec:
      containers:
        - name: notifications
          image: 971146591534.dkr.ecr.us-east-1.amazonaws.com/triad-app-notifications:af652fb766b33ec1c989966e8ba286a7ba48fdc42f5b7d4584be1fa73b7ee75f
          imagePullPolicy: Always
          ports:
            - containerPort: 8082
              name: http
          env:
            - name: PORT
              value: "8082"
          readinessProbe:
            httpGet:
              path: /readyz
              port: http
          livenessProbe:
            httpGet:
              path: /healthz
              port: http
