apiVersion: apps/v1
kind: Deployment
metadata:
  name: orders
  namespace: pulsecart
spec:
  replicas: 2
  selector:
    matchLabels:
      app: orders
  template:
    metadata:
      labels:
        app: orders
    spec:
      containers:
        - name: orders
          image: 971146591534.dkr.ecr.us-east-1.amazonaws.com/triad-app-orders:orders-develop
          imagePullPolicy: Always
          ports:
            - containerPort: 8081
              name: http
          env:
            - name: PORT
              value: "8081"
            - name: DATABASE_URL
              valueFrom:
                secretKeyRef:
                  name: pulsecart-secrets
                  key: DATABASE_URL
            - name: REDIS_ADDR
              valueFrom:
                configMapKeyRef:
                  name: pulsecart-config
                  key: REDIS_ADDR
            - name: REDIS_TLS_ENABLED
              valueFrom:
                configMapKeyRef:
                  name: pulsecart-config
                  key: REDIS_TLS_ENABLED
            - name: NATS_URL
              valueFrom:
                configMapKeyRef:
                  name: pulsecart-config
                  key: NATS_URL
          readinessProbe:
            httpGet:
              path: /readyz
              port: http
          livenessProbe:
            httpGet:
              path: /healthz
              port: http
